*.swp
*.swo
.tern-port
secrets.*
secret.*
nvim/lazy-lock.json

opencode/*
!opencode/opencode.json
!opencode/command/
!opencode/command/*
!opencode/skills/
!opencode/skills/*
!opencode/plugins/
!opencode/plugins/*
!opencode/agents/
!opencode/agents/*
