*.swp
*.swo
.tern-port
secrets.*
secret.*
nvim/lazy-lock.json

opencode/*
!opencode/opencode.json
!opencode/command/
!opencode/command/*
!opencode/skill/
!opencode/skill/*
!opencode/plugins/
!opencode/plugins/*
